name: Rust CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-test:
    name: Run test and build
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu

          - os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu

          - os: macos-14
            target: aarch64-apple-darwin

          - os: macos-15
            target: aarch64-apple-darwin

          - os: macos-15-intel
            target: x86_64-apple-darwin

          - os: windows-latest
            target: x86_64-pc-windows-msvc

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Check fmt and linting
        run: make check

      - name: Run tests
        run: cargo test --target ${{ matrix.target }} --verbose
      
      - name: Build
        run: cargo build --target ${{ matrix.target }} --verbose
