name: Create GitHub release and publish on Crates.io

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    # environment: release
    # permissions:
    #   id-token: write
    steps:
    - uses: actions/checkout@v5
    # - uses: rust-lang/crates-io-auth-action@v1
    #   id: auth
    # - run: cargo publish
    #   env:
    #     CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
    
    - name: Create a GitHub release
      uses: softprops/action-gh-release@v2
      with:
          generate_release_notes: true
          draft: false
